/*
--- 01 TYPOGRAPHY SYSTEM
Font sizes (rem): 

1 / 1.2 / 1.4 / 1.6 / 1.8 / 2 / 2.4 / 3 / 3.6 / 4.4 / 5.2 / 6.2 / 7.4 / 8.6 / 9.8

- Font weights: 
Default: 400

- Line heights:
Default: 1

--- 02 COLORS 

Primary: #A5D8FF 
#e7f5ff


- Tints: 
- Shades: #31414C
- Accents: 
- Greys: 

--- 03 IMAGES

--- 04 ICONS

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- Spacing system (px)
0.2 / 0.4 / 0.8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8 / 9.6 / 12.8
*/
/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap"); */

@import url("./fonts.css");

:root {
  --form-color: #a5d8ff;
  --main-color: #e7f5ff;
  --logo-color: #b99332;
  --logo-light: #ceb370;
  --nav-color: #31414c;
  --nav-light: #536c80;
  --text-color: #31414c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
}

body {
  font-family: "Aeonik Regular";
  /* color: #333; */
  color: #212b33;

  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  /* filter: blur(2px); */
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

b {
  font-weight: 600;
}

/* Text */

.heading-primary {
  font-size: 8.6rem;
  font-family: "Aeonik Medium";
  /* text-shadow: 10px 10px 10px #e7f5ff; */
  text-shadow: -0.7rem 0.2rem #dfd7b3;
  /* text-shadow: -10px 2px #b99332; */
  margin-bottom: 6.4rem;
  line-height: 0.85;

  text-align: center;
}

.hp2 {
  display: none;
}

.heading-primary span {
  color: #b99332;
  /* text-shadow: -10px 2px rgba(51, 51, 51, 0.274); */
}

.heading-secondary {
  font-size: 6.4rem;
  font-family: "Aeonik Medium";
  /* font-style: italic; */
  color: #31414c;
  /* white-space: nowrap; */
}

.heading-secondary--nowrap {
  white-space: nowrap;
}

.icon {
  height: 4.8rem;
  width: 4.8rem;
}

.marignb--m {
  margin-bottom: 3.2rem;
}

.logo__text:link,
.logo__text:visited {
  font-family: "Pacifico";
  color: var(--logo-color);
  font-size: 3rem;

  text-decoration: none;
}

.header,
.main,
.footer {
  transition: filter 0.3s;
}

.blur {
  filter: blur(2px);
  pointer-events: none;
  /* cursor: ; */
}

.__hidden {
  opacity: 0;
}

.__show {
  opacity: 1 !important;
  /* display: block !important; */
}

.__display-none {
  display: none !important;
}
